.movies {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  h2 {
    display: flex;
    position: absolute;
    height: 34px;
    left: 2122px;
    top: 211px;
    font-family: 'Montserrat';
    font-size: 1.75rem;
    line-height: 2.124rem;
    font-weight: 700;
    color: var(--primary);
  }

  div {
    height: 640px;
    overflow: auto;
    padding-right: 44px;
  }

  div::-webkit-scrollbar {
    width: 0.2rem;
  }

  div::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.4);
  }

  div::-webkit-scrollbar-thumb {
    background: var(--primary);
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    position: relative;
    padding-left: 10px;
    padding-bottom: 16px;
    width: 265px;
    height: 149px;
    left: 1990px;
    top: 228.38px;
    // width: 265px;
    // height: 150px;
    border-radius: 8px;
    color: var(--primary);
  }

  li:not(:first-child) {
    margin-top: 50px;
  }

  li span {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    margin-bottom: 6px;
  }

  li strong {
    font-size: 1rem;
    line-height: 1.125rem;
    font-weight: 600;
  }

  li button {
    position: absolute;
    width: 36px;
    height: 36px;
    margin: auto;
    inset: 0;
    opacity: 0;
    background: transparent;
    transform: translateY(40px);
    transition: all 0.6s;
  }

  li:hover button {
    opacity: 1;
    transform: translateY(0);
  }
}
